body {
	background-color: rgb(86, 189, 110);
}
canvas {
	width: 600;
	height: 1000;
}
header {
	display: flex;
	justify-content: space-around;
	height: 100px;
	width: 600px;
	background-color: rgb(58, 58, 63);
	position: relative;
	margin: 0 auto;
	border: 5px solid white;
	align-items: center;
}
h1, h3 {
	display: flex;
	justify-content: space-around;
	position: relative;
	color: black;
	margin: 0 auto;
}
h2 {
	color: white;
}

.background{
	border: 5px solid white;
	background: url('../img/bg.jpg');
	width: 600px;
	height: 1000px;
  	margin: 0 auto;
  	position: relative;
  	-webkit-animation:160s scroll infinite linear reverse;
  	-moz-animation:160s scroll infinite linear reverse;
  	-o-animation:160s scroll infinite linear reverse;
  	-ms-animation:160s scroll infinite linear reverse;
  	animation:160s scroll infinite linear reverse;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -300000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -300000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -300000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -300000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -300000px;
  }
}