body {
	background-color: yellow;
}
canvas {
	width: 600;
	height: 1000;
}
.background{
	border: 5px solid white;
	background: url('../img/bg.jpg');
	width: 600px;
	height: 1000px;
  	margin: 0 auto;
  	position: relative;
  	-webkit-animation:160s scroll infinite linear reverse;
  	-moz-animation:160s scroll infinite linear reverse;
  	-o-animation:160s scroll infinite linear reverse;
  	-ms-animation:160s scroll infinite linear reverse;
  	animation:160s scroll infinite linear reverse;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -100000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -100000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -100000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -100000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -100000px;
  }
}